<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoPo.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,467},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>effect_BloodHitLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,419},{72,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>effect_BloodHitLeft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,415},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>effect_BloodHitLeft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,319},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>effect_BloodHitLeft_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,216},{103,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>effect_BloodHitLeft_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,113},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,101}</string>
            </dict>
            <key>effect_BloodHitLeft_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{117,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,108}}</string>
                <key>sourceSize</key>
                <string>{117,108}</string>
            </dict>
            <key>effect_BloodHitLeft_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{118,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,106}}</string>
                <key>sourceSize</key>
                <string>{118,106}</string>
            </dict>
            <key>effect_BloodHitLeft_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,109}}</string>
                <key>sourceSize</key>
                <string>{122,109}</string>
            </dict>
            <key>effect_BloodHitRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>effect_BloodHitRight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,411},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>effect_BloodHitRight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>effect_BloodHitRight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,306},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>effect_BloodHitRight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{101,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,113}}</string>
                <key>sourceSize</key>
                <string>{101,113}</string>
            </dict>
            <key>effect_BloodHitRight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,112},{108,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,117}}</string>
                <key>sourceSize</key>
                <string>{108,117}</string>
            </dict>
            <key>effect_BloodHitRight_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,184},{106,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,118}}</string>
                <key>sourceSize</key>
                <string>{106,118}</string>
            </dict>
            <key>effect_BloodHitRight_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{109,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,122}}</string>
                <key>sourceSize</key>
                <string>{109,122}</string>
            </dict>
            <key>effect_HeavyHit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,505},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>effect_HeavyHit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,503},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>effect_HeavyHit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,499},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>effect_HeavyHit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,499},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>effect_HeavyHit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,487},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>effect_LightHitLeft_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,474},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_LightHitLeft_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,453},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_LightHitLeft_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_LightHitRight_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,419},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_LightHitRight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,406},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_LightHitRight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,372},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>effect_Mud_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,381},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_Mud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_Mud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,295},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_Mud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,252},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>effect_StramBoom_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,168},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>effect_StramBoom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,424},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>effect_StramBoom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{103,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,69}}</string>
                <key>sourceSize</key>
                <string>{103,69}</string>
            </dict>
            <key>effect_StramBoom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,231},{106,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{106,73}</string>
            </dict>
            <key>effect_StramBoom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,110},{114,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,72}}</string>
                <key>sourceSize</key>
                <string>{114,72}</string>
            </dict>
            <key>effect_StramBoom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{97,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,66}}</string>
                <key>sourceSize</key>
                <string>{97,66}</string>
            </dict>
            <key>effect_fireShell_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>effect_posion_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,223},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>effect_posion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,193},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>effect_posion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,142},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>effect_posion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,112},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>effect_posion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,538},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>effect_posion_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,515},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>effect_posion_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,505},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>effect_posion_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,521},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>effect_posion_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,505},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>effect_posion_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,539},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>effect_posion_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,554},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>heal.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,304},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>posion.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,338},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca18888256e525a2e071b9aea7c48e9$</string>
            <key>textureFileName</key>
            <string>Effect.png</string>
        </dict>
    </dict>
</plist>
